block content
doctype html
html(lang='en')
  head
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js", integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="preconnect",href="https://fonts.googleapis.com")
    link(rel="preconnect",href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap",rel="stylesheet")
    title Memeovi
  div(id="main-wrapper")
    h1 Praćenje žutih kartona i prijave
    h2 Lista pravila
    p Žuti karton traje 48 sati
    p Prijava reposta treba biti potvrđena od strane svih clanova(osim admina, uglavnom ako admin kaze da nije repost a svi ostali kazu da je, pošiljatelj reela tek onda dobiva žuti karton)
    p Admin ne treba nikome dokazivati da je nešto repost
    
    
    form(action="/voting/post/complaint", method="POST")
      label Odaberi koga prijavljujes
      select(name="selectedUser", placeholder="Odaberi clanano")
        option(disabled selected) Odaberi nekoga
        each user in user_list
          option(value=user._id) #{user.name}
      label Opiši razlog prijave
      textarea(class="complaint-box", name="description")
      button(type="submit" value="Submit") Posalji



    table 
      tr 
        th Ime
        th Broj zutih
        th Preostalo vrijeme zutoga kartona(u satima)
      each user in usersForTable 
        tr
          td #{user.name}
          td #{user.countOfYellowCards}
          td #{user.timeRemaining}h